* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #ECF8F8;
}

.position-btn {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.btn-trash {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.btn-logout {
    display: flex;
    align-items: center;
    justify-content: center;
      
    background-color: #4169E1;

    height: 48px;
    width: 120px;

    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.btn-logout:hover {
    background-color: rgba(65, 105, 225, 0.8);
}

.content {
    display: grid;
    justify-content: center;
    padding: 0 60px 60px 60px;
}
.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 60px 121px;
    overflow: hidden;

    border-radius: 12px 12px 0px 0px;
    background: linear-gradient(90deg, #E6BEAE 9.66%, #B2967D 99.25%);
    box-shadow: 0 -5px 11px -5px rgba(0, 0, 0, 0.25), -5px 0 11px -5px rgba(0, 0, 0, 0.25), 5px 0 11px -5px rgba(0, 0, 0, 0.25);
}
.card-header-title {
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-header {
    display: flex;
    gap: 16px;
    width: 100%;
}
.new-task {
    width: 100%;
    height: 60px;
    padding: 16px;

    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
}
.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 180px;
    padding: 20px;

    background: #E6BEAE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    border: none;

    text-transform: uppercase;
    color: #8B4726;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.add-task:hover {
    background-color: #8B4726;
    color: #fff;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 60px 121px;
    overflow: hidden;

    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
    box-shadow: 0 4px 16px -5px rgba(0, 0, 0, 0.25),
                -5px 0 5px -6px rgba(0, 0, 0, 0.25), 
                5px 0 5px -11px rgba(0, 0, 0, 0.25);

    position: relative;
    height: auto;
    min-height: 100%
}
.card-content-title {
    text-align: center;
    color: #8B4726;
    font-size: 28px;
    text-transform: uppercase;
}
.card-content-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    gap: 16px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;

    transition: transform .2s; 
    cursor: pointer;
}
.card-content-task:hover {
    transform: scale(1.01);
}
span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.card-content-task-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.fas {
    color: #B2967D ;
    font-weight: 900 ;
    font-size: 25px ;
    line-height: 29px ;
}
.fas:hover {
    color: #8B4726 ;
}

.far {
    color: #B2967D ;
    font-size: 25px ;
    line-height: 29px ;
}
.far:hover {
    color: #90EE90 ;
}

.fa-check-circle {
    color: #90EE90 ;
}

.card-content-task .finish {
    text-decoration: line-through;
    font-style: italic;
    color: #ccc;
}
.disabled, .disabled:hover {
    color: #ccc ;
}

.message-no {
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    align-items: center ;
    gap: 32px ;
    height: 160px ;
}

.fa-exclamation-circle {
    font-size: 52px ;
}
.text-no-task {
    text-align: center ;
    color: #5d5d5d ;
}

.edit-task {
    display: none;
    width: 100%;
}
.edit-task input {
    height: 32px;
    border: 1px solid #ccc;
    outline: none;

    padding: 0 5px;
    font-size: 18px;
}
i.check {
    color: #90EE90;
    font-size: 18px;
}
i.close-task {
    color: red;
    font-size: 18px;
}
i.close-task:hover {
    color: red;
}
.content-task {
    position: relative;
}
.confirm-edit {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
i.check:hover {
    color: #90EE90;
}

.form {
    width: 100%;
}

.button-actions {
    display: inline-flex;
    gap: 8px;
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .card-header, .card-content, .content {
        padding: 30px;
    }
    .form-header {
        flex-direction: column;
        align-items: center;
    }
    .card-content-task {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .edit-task input {
        width: 100%;
    }
    .button-actions {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-left: 0;
    }
}
